<a href="https://colab.research.google.com/github/FontanaDaniel1/insiemi/blob/main/insiemi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

metodi per creare insiemi

In [ ]:
insieme = {"inter", "milan", "juve"}
print(insieme)

{'juve', 'inter', 'milan'}

In [ ]:
insieme2 = set(["luca", "riccardo", "anto", "luca"]) #toglie doppi, printa senza ordine
print(insieme2)

{'luca', 'anto', 'riccardo'}

In [ ]:
print(type(insieme))

<class 'set'>

In [ ]:
insiememisto = {3, "luca", "marco", 45, True}
print(insiememisto)

{'luca', True, 3, 45, 'marco'}

In [ ]:
insiemenumerico = {1,2,3,4,5}
prova = {i for i in range(10)}
print(prova)
print(insiemenumerico)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 2, 3, 4, 5}

In [ ]:
insieme5 = {"ciao", 56, True}
insieme5.add("france")
print(insieme5)

{56, True, 'ciao', 'france'}

In [ ]:
ins6 = {"gio", 78, 7}
ins7 = {"loto", "poli", "simo", 7}
ins6.update(ins7)
print(ins6)

{'loto', 'gio', 7, 'poli', 78, 'simo'}

metodi per rimuovere un elemento

In [ ]:
ins8 = {"pippo", "pluto", "paperino", "topolino"}
ins8.remove("pippo")
print(ins8)

{'topolino', 'pluto', 'paperino'}

In [ ]:
ins8.discard("pippo") #non da errore se l'elemento non Ã¨ presente
print(ins8)

{'topolino', 'pluto', 'paperino'}

In [ ]:
x = ins8.pop() #toglie un elemento a caso
print(x)
print(ins8)

topolino
{'pluto', 'paperino'}

metodi per svuotare gli insiemi

In [ ]:
ins8.clear() #svuota la lista
print(ins8)

In [ ]:
del ins8 #elimina cpmpletamente l insieme
print(ins8)

metodo union

In [ ]:
#creo un altro set
set1 = {1,2,3,4,5,6}
set2 = {10,20,30,40}
set3 = set1.union(set2)
print(set3)

{1, 2, 3, 4, 5, 6, 40, 10, 20, 30}

metodo update

In [ ]:
#in questo caso il set viene aggironato
set4 = {"vitto","carlo","ali"}
set5 = {100,200,300}
set4.update(set5)
print(set4)

metodo intersection_update

In [ ]:
set6 = {"ciao", "buong", "buonasera"}
set7 = {"arrivaderci", }
set6.interesection_update(set7)

20 num casuali compresi tra 20 e 50 senza duplicati

In [ ]:
import random
insiemeCasuale = set()
for i in  range(20):
  insiemeCasuale.add(random.randint(20,50))

print(insiemeCasuale)
len(insiemeCasuale)

{32, 35, 36, 37, 40, 42, 43, 44, 47, 48, 20, 23, 26, 27, 28, 29, 31}

17

esercizi

In [ ]:
ins9 = [1,4,5,6,7,10,1,4]
print(ins9)

In [ ]:
ins10 = {"pizza", "pasta", "carne"}

In [ ]:
ins10.add("hamburger")
print(ins10)

In [ ]:
ins10.clear()
print(ins10)

caricare in una lista 20 num tra 1 e 100 rnd ed eliminare i duplicati

In [ ]:
import random
lista = list(set([random.randint(1,100) for i in range(20)]))
print(type(lista), lista)
print(len(lista))

<class 'list'> [64, 35, 68, 67, 99, 100, 73, 79, 47, 16, 87, 55, 86, 24, 58, 27, 93, 62]
18

In [ ]:
import random
for i in range(100):
  x = random.randint(1,100)
  y = lista.count(x)
  if y != 0: 
     lista.append(x)
  if len(lista) == 20:
    exit
print(lista)

In [ ]:
milella = {"banana", "kiwi", "arancia"}

In [ ]:
ava = {"pere", "uva", "kiwi"}
#es like VERIFICA: quali sono i frutti che piacciono sia a mile che ad ava

In [ ]:
frutti_comuni = milella.intersection(ava) #controllo queli elementi sono in comune
print(frutti_comuni)

{'kiwi'}

In [ ]:
tutti_i_frutti = milella.union(ava)
print(tutti_i_frutti)

{'pere', 'kiwi', 'banana', 'arancia', 'uva'}

In [ ]:
#stampare solo i frutti che piacciono a milella(banana, arancia)
frutti_mile = milella.difference(ava)
print(frutti_mile)

{'banana', 'arancia'}

In [ ]:
milella.add("fragole")
print(milella)

{'kiwi', 'banana', 'fragole', 'arancia'}

In [ ]:
milella.remove("kiwi")
print(milella)

{'banana', 'fragole', 'arancia'}

In [ ]:
frutta = ["uva", "mela", "uva","uva", "mela","kiwi", "kiwi", "mela"]
fruttaINS = set(frutta) #x toglire i doppioni
fruttalista = set(fruttaINS) #x trasformarlo in insieme
print(fruttalista)

{'mela', 'uva', 'kiwi'}

In [ ]:
fruttaList = list(set(frutta))
fruttaTupla = tuple(set(frutta))
print(fruttaTupla)

['mela', 'uva', 'kiwi']

ese. Verifica:

In [ ]:
squadre = ["milan", "inter", "juve", "milan", "napoli", "napoli"]

lista_senzaDoppie= list(set(squadre))
print(lista_senzaDoppie)

['inter', 'juve', 'napoli', 'milan']

In [ ]:
stud_milan = {"dari", "gere", "berna" }
stud_inter = {"berna", "loto", "mile"}

stud = stud_milan.union(stud_inter)
print(stud)

stud_comune = stud_milan.intersection(stud_inter) #stampo il doppio
print(stud_comune)

{'berna', 'loto', 'gere', 'dari', 'mile'}
{'berna'}

In [ ]:
stud_noMilan = stud.difference(stud_milan) #stampo SOLO inter (Berna no -> Milan)
print(stud_noMilan)

{'loto', 'mile'}